<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Chatbot</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  </head>
  <body>
    <div class="container">
      <h1>Chat with Joana</h1>
      <div id="chat-box"></div>
      <input type="text" id="user-input" placeholder="Type your message here">
      <button onclick="sendMessage()">Send</button>
    </div>
    
    <script>
      async function sendMessage() {
        const userInput = document.getElementById('user-input').value;
        const response = await fetch('/predict', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify({ message: userInput })
        });
        
        const data = await response.json();
        const chatBox = document.getElementById('chat-box');
        chatBox.innerHTML += `<p class="user-message"><strong>You:</strong> ${userInput}</p>`;
        chatBox.innerHTML += `<p class="bot-message"><strong>Joana:</strong> ${data.response}</p>`;
        document.getElementById('user-input').value = '';
        chatBox.scrollTop = chatBox.scrollHeight; // Auto-scroll to the bottom
      }
    </script>
  </body>
</html>
